p {
    text-align: center;
}

body {
    
}

#banner {  
    width: 100%;
 }
 
.principal {
    background: #CCCCCC;
}


h1 {
     text-align: center;
    }

p { text-align: center; 
}

#missao { 
    font-size: 20px;
}

strong {
    color: #FF0000;
}

.itens {
     font-style: italic;
}
     
.Beneficios {
    background: #ffffff;
}
  
h2{ 
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
}

.imagembeneficios{ 
    width: 50%;
}
